/* main.css */
html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}

.mode {
    background: #000;
    display: flex;
    width: 140px;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

@media screen and (max-width: 670px) {
    .notes {
        flex-direction: column-reverse;
    }

    .notes__sidebar {
        width: 100%;
        border-top: 2px solid #dddddd;
        max-height: 300px;
    }
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .notes__sidebar {
    border-right-color: #666;
}

.dark-mode .notes__add {
    background: #00695c;
}

.dark-mode .notes__list-item--selected {
    background: #444;
}
